1. Разбейте датасет из train.csv на обучающий и валидационный наборы данных.
2. Заполните пропущенные значения в датасете медианами или модами.
3. Переведите строковый признак в числовое представление.
4. Обучите линейную модель. Посчитайте метрику R2 на двух наборах данных. Сделайте выводы.
5. Обучите более сложную модель на ваш выбор. Посчитайте метрику R2 на двух наборах данных. Сделайте выводы.
6. Подберите оптимальные гиперпараметры для вашей модели. Пытайтесь улучшить её качество на двух наборах данных.

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df.set_index('Id')

,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
Id,,,,,,,,,,,,,,,,,,,
11809,27,3.0,115.027311,NaN,10.0,4,10.0,2014,0.075424,B,B,11,3097,0,NaN,0,0,B,305018.871089
3013,22,1.0,39.832524,23.169223,8.0,7,8.0,1966,0.118537,B,B,30,6207,1,1183.0,1,0,B,177734.553407
8215,1,3.0,78.342215,47.671972,10.0,2,17.0,1988,0.025609,B,B,33,5261,0,240.0,3,1,B,282078.720850
2352,1,1.0,40.409907,NaN,1.0,10,22.0,1977,0.007122,B,B,1,264,0,NaN,0,1,B,168106.007630
13866,94,2.0,64.285067,38.562517,9.0,16,16.0,1972,0.282798,B,B,33,8667,2,NaN,0,6,B,343995.102962
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1260,61,2.0,49.090728,33.272626,6.0,3,12.0,1981,0.300323,B,B,52,10311,6,NaN,1,9,B,119367.455796
16265,27,2.0,64.307684,37.038420,9.0,13,0.0,1977,0.072158,B,B,2,629,1,NaN,0,0,A,199715.148807
2795,178,1.0,29.648057,16.555363,5.0,3,5.0,1958,0.460556,B,B,20,4386,14,NaN,1,5,B,165953.912580
14561,21,1.0,32.330292,22.326870,5.0,3,9.0,1969,0.194489,B,B,47,8004,3,125.0,3,5,B,171842.411855
7202,94,1.0,35.815476,22.301367,6.0,9,9.0,1975,0.127376,B,B,43,8429,3,NaN,3,9,B,177685.627486

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB

In [6]:
median = df['LifeSquare'].median()
df['LifeSquare'] = df['LifeSquare'].fillna(median)

In [7]:
median = df['Healthcare_1'].median()
df['Healthcare_1'] = df['Healthcare_1'].fillna(median)

In [8]:
df['Shops_2'] = df['Shops_2'].astype('category')
df['Ecology_2'] = df['Ecology_2'].astype('category')
df['Ecology_3'] = df['Ecology_3'].astype('category')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     10000 non-null  float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  category
 11  Ecology_3      10000 non-null  category
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   10000 non-null  float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  category
 19  Price          10000 non-null  float64
dtypes: category(3), float64(8), int64(9)
memory usage: 1.3 MB

In [9]:
df = pd.get_dummies(df,
                    prefix={'Shops_2': 'Shops_2', 'Ecology_2': 'Ecology_2', 'Ecology_3': 'Ecology_3'},
                    columns=['Shops_2','Ecology_2','Ecology_3'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 23 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     10000 non-null  float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Social_1       10000 non-null  int64
 11  Social_2       10000 non-null  int64
 12  Social_3       10000 non-null  int64
 13  Healthcare_1   10000 non-null  float64
 14  Helthcare_2    10000 non-null  int64
 15  Shops_1        10000 non-null  int64
 16  Price          10000 non-null  float64
 17  Shops_2_A      10000 non-null  uint8
 18  Shops_2_B      10000 non-null  uint8
 19  Ecology_2_A    10000 non-null  uint8
 20  Ecology_2_B    10000 non-null  uint8
 21  Ecology_3_A    10000 non-null  uint8
 22  Ecology_3_B    10000 non-null  uint8
dtypes: float64(8), int64(9), uint8(6)
memory usage: 1.4 MB

In [35]:
X = df.drop('Price', axis=1)
y = df['Price']

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3, random_state = 42)

In [37]:
lr = LinearRegression()

In [38]:
lr.fit(X_train, y_train)

LinearRegression()

In [39]:
y_pred = lr.predict(X_test)

In [40]:
r2_score(y_test, y_pred.flatten())

0.48530108934185745

In [41]:
y_pred = lr.predict(X_train)
r2_score(y_train, y_pred.flatten())

0.484200316851533

### Вывод
Линейная регрессия дает не очень высокую точность прогноза

In [42]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)

In [43]:
model.fit(X_train, y_train)

RandomForestRegressor(max_depth=12, n_estimators=1000, random_state=42)

In [44]:
y_pred = model.predict(X_test)
r2_score(y_test, y_pred.flatten())

0.7305223623931254

In [45]:
y_pred = model.predict(X_train)
r2_score(y_train, y_pred.flatten())

0.8994657601265638

### Вывод
Лес дает более высокую точность чем линейная регрессия

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
r2_score(y_test, y_pred.flatten())

0.7412554512992485

In [34]:
y_pred = model.predict(X_train)
r2_score(y_train, y_pred.flatten())

0.8956911120690303

### Вывод
Попробовали улучшить модель, например разбив данные в разной пропорции, чуть больше выделив на обучение и чуть меньше на предсказание, модель на выборе train как и в предыдущем случае обучилась в районе 90%, но в данном случае предсказывает чуть более точно.